
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

    header{
       background-color: #07342a;
       height: 7vh;
       width: 100%;
      
       position: relative;
     
   }
   .lists{
    display: none;
   }
   .btn{
    display: none;
   }
   .fa-bars{
    position: absolute;
    color: #ffffff;
   top:10px;
   left:310px ;
    
    font-size: 25px;
    cursor: pointer;
   }
   .fa-bars:hover{

    color: #ff9800;


   }
   .logo{
    font-size: 18px;
   margin-left: -250px;
   margin-top: 4px;
   }
   .sun{
    display: none;
   }
   .content h1{
    color: #302d2d;
    font-size: 40px;
    font-weight: 700;
    line-height: 70px;
    margin-left: -230px;
    text-align: center;
 }
 .content p{
    color: #ffffff;
 
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    padding: 10px;
    background-color: rgba(3, 3, 3, 0.4);
    width: 350px;
    margin-left: -250px;
 }
 .btn1{
   margin-top: 20px;
  gap: 40px;
   margin-left: -220px;
   margin-right: 15px;
   width: 143.08px;
 }
 .btn1-2{
    margin-top: 20px;
   gap: 40px;
    margin-left: -300px;
    margin-right: 15px;
    width: 143.08px;
  }
 .btns{
    width: 143.08px;
    height: 49px;
    padding: 11px 35px;
    color: #ffffff;
    background-color: #29c367;
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
    margin-right: -150px;
    
 }
 .btn-1s:hover{
    background-color: rgb(33, 33, 61);
   }

   .container1{
    height: 970.09px;
    width: 100%;
    background-color: #fdf9f9;
 
    
 }
 .features{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
   
   
 }
 .feature-content{
    width: 300px;
    height: 287.19px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0px 40px;
    /* border:  2px solid #29c367; */
    border-radius: 5px;
    box-shadow: inset 0 -3em 3em rgba(245, 245, 245, 0.1), 0 0 0 2px rgba(255, 255, 255,0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
 
 }
 .feature-content img{
    width: 100px;
    height: 100px;
 }
 .feature-content h1{
    padding: 15px;
    text-align: center;
 }
 .feature-content p{
   padding: 10px;
   font-size: 16px;

 }
 .img{
    box-shadow: inset 0 -3em 3em rgba(245, 245, 245, 0.1), 0 0 0 2px rgba(255, 255, 255,0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 60px;
    margin-top: 10px;
 }

 .about{
    height: 450px;
    margin: 0px 20px;
    display:flex;
    flex-direction: column;
   justify-content: center;
   gap:30px;
 
 }
 
 .con-mobile{
    width: 100%;
    height: 1220px;
    padding-top: 390px;
 padding-left: 10px;
 padding-right: 10px;

   
 }
 .aboutus{
    width: 100%;
 }
 span{
    color: coral;
    margin: 1px;
    font-size: 20px;
    font-weight: 700;
   
 }
 .aboutus h1{
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;

 
 }
 .aboutus p{
    font-size: 16px;
    line-height: 1.8;
    color: #747576;
    margin-bottom: 15px;
    font-weight: 400;
    font-family: 'Mukta', sans-serif;
 }

 .img1{
    border-radius: 20px;
    margin-left: -5px;
    width: 320px;
   }
   .img2{
       width: 90px;
   position: relative;
   top:-200px;
   left:70px;
     }
     .service{
  
        background:linear-gradient(rgba(26, 40, 53, 0.952),rgba(26, 40, 53, 1.7)),url("/img/banner-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        height: 2714.97px;
        width: 100%;;
       
      }
         
      .flex-service{
        display: grid;
        grid-template-columns: repeat( 1,1fr);
         column-gap: 20px;
         row-gap: 40px;
         justify-content: center;
         align-items: center;
         
    
      }
      .con-service{
        width: 100%;
        height: 971.97px;
        margin: auto;
        padding-top: 40px;
        
       
      }
      .child-flex{
        width: 308px;
        height: 387.19px;
        background-color: rgba(255, 255, 255, 1);
        padding: 20px 20px;
        /* border:  2px solid #29c367; */
        border-radius: 5px;
        box-shadow: inset 0 -3em 3em rgba(245, 245, 245, 0.1), 0 0 0 2px rgba(255, 255, 255,0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
        margin-left: 25px;
     
     }
     .img-ser{
        box-shadow: inset 0 -3em 3em rgba(245, 245, 245, 0.1), 0 0 0 2px rgba(255, 255, 255,0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
        justify-content: center;
        background-color: #ffffff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-left: 90px;
        margin-top: 20px;
     }
     .child-flex h1{
        color: black;
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 10px;
     }
     .child-flex p{
        color:#747576;
        text-align: center;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 10px;
     }
      .service1{
        width: 100%;
        background-color: #ffffff;
       
         height: 3224.97px;
        
       }
       .con-service1{
         width: 100%;
         height: 971.97px;
         margin: auto;
         padding-top: 50px;
        
       }
       .con-service1 h6{
         text-align: center;
         font-size: 16px;
         color: #ff9800;
         font-weight: 700;
         margin-bottom: 10px;
         letter-spacing: 2px;
         text-transform: uppercase;
     }
        
        .con-service1 h1{
         text-align: center;
         font-size: 38px;
         color: #000000;
         font-weight: 700;
         margin: 0;
        }
     
     
        .flex-projects{
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         gap:50px;
         row-gap: 120px;
       
         justify-content: center;
          padding-top: 50px;
         
         
       }
       .projects{
        width: 368px;
        height: 387.19px; ;
        padding: 20px 20px;
        margin-left: 15px;
        /* border:  2px solid #29c367; */
       
      
     
     }
     .pro-img{
 
        width: 306.03px;
        height: 482.43px;
        cursor: pointer;
        
      }
      .project-con{
        width: 283.330px;
        height: 140px;
        background-color: white;
        position: relative;
        top: -160px;
        left: 12px;
        padding: 15px 20px;
        text-align: center;
      }
    
     .ask{
        width: 100%;
        height: 324.39px;
        background-color: rgb(41, 195, 103);
        
        background:linear-gradient(rgba(41, 195, 103, 0.952),rgba(41, 195, 103, 0.952)),url("/img/hexagon-bg.svg");
        background-position: center;
    
    
    
      }
      .ask-con{
        width: 100%;
        height: 49.39px;
        text-align: center;
        padding: 80px 0px 15px;
        margin: auto;
      }   
      .chooses{
        background-color: #E1E1E126;
       padding-top: 70px;
    }
     .choose{
        width: 1240px;
        height: 1027.97px;
        margin: auto;
        padding-top: 10px;
     
       
      }
    .chooseus{
        width: 350px;
        height: 454.18px;
        padding: 20px;
    
    }
      .chooseus h6{
     font-size: 16px;
            color: #ff9800;
            font-weight: 700;
            margin-bottom: 10px;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding-bottom: 2
            0px;
    
      }
      .chooseus h2{
        font-size: 30px;
        color: #505060;
        font-weight: 700;
        margin: 8px 0 18px 0;
    }
    .boxs{
     display: grid;
     grid-template-columns: repeat(1,1fr);
     justify-content: center;
     align-items: center;
     gap: 10px;
     margin-top: 30px;
    
     
    }
 
.img-choose{
    width: 320px;
    height: 307.5px;
    margin-top: 680px;
    margin-left: -350px;
   }
   .flex-client{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
     column-gap: 40px;
     row-gap: 40px;
     justify-content: center;
     padding-top: 50px;
     padding-left: 120px;
     padding-right: 40px;
    
   }
   .client{
    background-color: #b6afaf26;
 
    height: 1467.97px;
    margin: auto;
    padding-top: 40px;
   
}

.client-con{
    width:100%;
    height: 667.97px;
    margin: auto;
    padding-top: 40px;
  
 
   
  }
  .child-client{
    width: 308px;
    height: 387.19px;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px 20px;
    /* border:  2px solid #29c367; */
    border-radius: 5px;
    box-shadow: inset 0 -3em 3em rgba(245, 245, 245, 0.1), 0 0 0 2px rgba(255, 255, 255,0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
    position: relative;
    margin-left: -60px;
 
 }
 .qout{
    position: absolute;
    z-index: 1;
    top:  2px;
   left: 220px;
    width: 55px;
    border-radius: 0;
    margin: 0;
    opacity: .1;
  }
    
 /* Small devices (portrait tablets and large phones, 600px and up) */
 
 